body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product:hover {
    transform: scale(1.05);
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}
/* Add this to set fixed dimensions for product images */
.product img {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensure images maintain aspect ratio */
}

body.background-image {
    background-image: url('https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
